<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

  <link href="style.css" rel="stylesheet">
  <script defer src="profile.js"></script>

  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="card">
  <img src="scarjo.jpg" alt="John" style="width:100%">
  <h1>Scarlett Johansson</h1>
  <a href="#"><i class="fa fa-phone"></i> 086-1234567</a>
  <br>
  <a href="https://maps.google.com/?q=Dublin"><i class="fa fa-home"></i> Dublin, Ireland</a>
</div>

</body>
</html>